<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="/favicon.ico">
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/css.css'>
		<link rel='stylesheet' href="/css/bootstrap.min.css">
	</head>
	<body>
		<nav id="nav_bar" class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
		      <li><a href="/ranking">Ranking</a></li>
		      {{{play}}}
		      {{{playonline}}}
					{{{admin}}}
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/registrar"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      {{{logout}}}
		    </ul>
		  </div>
		</nav>
		<img id="pay_pal" src="/images/2.jpg" alt="PAY TO WIN">
  	<footer>Desarrollado por Melegatti Pablo, Somare Francico y Gabriel Gonzalez - UNRC 2017</footer>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	</body>
</html>