<!DOCTYPE html>
<html>
	<head>
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel='stylesheet' href='/css/login.css'>
	</head>
	<body>
		<ul class="menu">
			<li><a href="/index">Inicio</a></li>
			<li><a href="/registrar">Registrarme</a></li>
			<li><a href="/login">Ingresar</a></li>
			<li><a href="/play">{{play}}</a></li>
			<li><a href="/ranking">Ranking</a></li>
			<li><a href="/logout">{{logout}}</a></li>
			</li>
		</ul>
		<p class="texto">Ingresar</p>
		<div class="Registro">
			<form method="post" action="/logger">
				<input type="text1" name="username" required placeholder="Nombre de usuario" autocomplete="off">
				<input type="password" name="password" id="password" required placeholder="Contraseña" autocomplete="off"> 
				<input type="submit" value="Ingresar" title="ingresar">
				<b><font color="red">{{error}}</font></b>
			</form>
		</div>
  <footer>Desarrollado por Melegatti Pablo, Somare Francico y Gabriel Gonzalez - UNRC 2017</footer>

	</body>
</html>