<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="/favicon.ico">
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/bootstrap-theme.css'>
		<link rel='stylesheet' href='/css/play.css'>
		<link rel='stylesheet' href="/css/bootstrap.min.css">
	</head>
	<body>
		<nav id="nav_bar" class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
		      <li><a href="/ranking">Ranking</a></li>
		      {{{play}}}
		      {{{playonline}}}
					{{{admin}}}
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/registrar"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      {{{logout}}}
		    </ul>
		  </div>
		</nav>
	  <section id="main">
			<div>
				<ul class="juego">
					{{{newgame}}}
				</ul>
			</div>

		<div class="center">
			<table style="width:100%">
			  <tr>
			    <th>Respuestas <font color="green">correctas</font></th>
			    <th>Respuestas <font color="red">incorrectas</font></th> 
			    <th>Categoria</th> 
			  </tr>
			  <tr>
		    	<td><b>{{corrects}}</b></td>
		    	<td>{{incorrects}}</td>
		    	<td>{{categ}}</td>
			  </tr>
			</table>
		</div>

		<div id="content">

		<div id="tablero">
			<h1 id='pregunta-titulo'>{{desc}}</h1>
				<ul class="respuesta">
				<li>
					<form action="/answer?gameId={{game_id}}&ca={{correct}}&qId={{qid}}&id={{id}}&answer=1" method="post">
					  <button type="submit" class='btn btn-success' id='btn-responder'>{{a1}}</button>
					</form>
				</li>
				<li>
					<form action="/answer?gameId={{game_id}}&ca={{correct}}&qId={{qid}}&id={{id}}&answer=2" method="post">
					  <button type="submit" class='btn btn-success' id='btn-responder'>{{a2}}</button>
					</form>
				</li>
				<li>
					<form action="/answer?gameId={{game_id}}&ca={{correct}}&qId={{qid}}&id={{id}}&answer=3" method="post">
					  <button type="submit" class='btn btn-success' id='btn-responder'>{{a3}}</button>
					</form>
				</li>
				<li>
					<form action="/answer?gameId={{game_id}}&ca={{correct}}&qId={{qid}}&id={{id}}&answer=4" method="post">
					  <button type="submit" class='btn btn-success' id='btn-responder'>{{a4}}</button>
					</form>
				</li>
			</ul>
		</div>

		</div><!-- end content -->

		</section>
  	<footer>Desarrollado por Melegatti Pablo, Somare Francico y Gonzalez Gabriel - UNRC 2017</footer>
  	<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>