<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <title>Bienvenido a Preguntado$</title>
    <link rel='stylesheet' href="css/playonline.css">
    <link rel='stylesheet' href='/css/css.css'>
    <link rel='stylesheet' href='/css/bootstrap-theme.css'>
		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav id="nav_bar" class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="/ranking">Ranking</a></li>
          {{{play}}}
          {{{playonline}}}
          {{{admin}}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/registrar"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {{{logout}}}
        </ul>
      </div>
    </nav>
    <div id="stats" class="center-stats">
      <table style="width:100%">
        <tr>
          <th>Respuestas Correctas<font color="green">Jugador 1</font></th>
          <th>Respuestas Correctas<font color="green">Jugador 2</font></th>
          <th>Respuestas Incorrectas<font color="red">Jugador 1</font></th>
          <th>Respuestas Incorrectas<font color="red">Jugador 2</font></th>  
          <th>Categoria</th> 
        </tr>
        <tr>
          <td id="corrects_p1"><b></b></td>
          <td id="corrects_p2"><b></b></td>
          <td id="inc_p1"></td>
          <td id="inc_p2"></td>
          <td id="category"></td>
        </tr>
      </table>
    </div>

    <div hidden id="userdata">
      <div hidden id="username">{{{username}}}</div>
      <div hidden id="user_id">{{{user_id}}}</div>
    </div>

    <div id="content">
      <div id="respuesta-estado"></div>
      <div id="turno"></div>
      <div id="tablero">
      <h1 id='question'></h1>
      <ul class="respuesta">
        <form id="options"></form>
      </ul>
      </div>
    </div><!-- end content -->

    <div id="queue" class="center"></div>
    <script src="/js/jquery.js"></script>
    <script src="/js/websocketDemo.js"></script>
    <footer>Desarrollado por Melegatti Pablo, Somare Francico y Gonzalez Gabriel - UNRC 2017</footer>
  </body>
</html>