<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/play.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<nav id="nav_bar" class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/index"><span class="glyphicon glyphicon-home"></span></a></li>
		      <li><a href="/ranking">Ranking</a></li>
		      <li><a href="/play">{{play}}</a></li>
					<li><a href="/administrate">{{admin}}</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/registrar"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-off"></span> {{logout}}</a></li>
		    </ul>
		  </div>
		</nav>
	  <section>
			<div>
				<ul class="juego">
					<li><b>{{newgame}}</b></li>
				</ul>
			</div>

		<div class="center">
			<table style="width:100%">
			  <tr>
			    <th>Respuestas <font color="green">correctas</font></th>
			    <th>Respuestas <font color="red">incorrectas</font></th> 
			    <th>Categoria</th> 
			  </tr>
			  <tr>
		    	<td><b>{{corrects}}</b></td>
		    	<td>{{incorrects}}</td>
		    	<td>{{categ}}</td>
			  </tr>
			</table>
		</div>
			<br>
			<div>
				<ul class="pregunta">
					<li><b>{{desc}}</b></li>
				</ul>
			</div>
			<div>
				<h1>Respuestas:</h1>
				<ul class="respuesta">
					<li>
						<form action="/answer?gameId={{game_id}}&ca={{correct}}&qId={{qid}}&id={{id}}&answer=1" method="post">
						  <button type="submit">{{a1}}</button>
						</form>
					</li>
					<li>
						<form action="/answer?gameId={{game_id}}&ca={{correct}}&qId={{qid}}&id={{id}}&answer=2" method="post">
						  <button type="submit">{{a2}}</button>
						</form>
					</li>
					<li>
						<form action="/answer?gameId={{game_id}}&ca={{correct}}&qId={{qid}}&id={{id}}&answer=3" method="post">
						  <button type="submit">{{a3}}</button>
						</form>
					</li>
					<li>
						<form action="/answer?gameId={{game_id}}&ca={{correct}}&qId={{qid}}&id={{id}}&answer=4" method="post">
						  <button type="submit">{{a4}}</button>
						</form>
					</li>
				</ul>
			</div>
		</section>
  <footer>Desarrollado por Melegatti Pablo, Somare Francico y Gabriel Gonzalez - UNRC 2017</footer>

	</body>
</html>