<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<html>
	<head>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel='stylesheet' href='/css/ranking.css'>
		<link rel='stylesheet' href='/css/w3.css'>
		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<nav id="nav_bar" class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
		      <li><a href="/ranking">Ranking</a></li>
		      {{{play}}}
		      {{{playonline}}}
					{{{admin}}}
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/registrar"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      {{{logout}}}
		    </ul>
		  </div>
		</nav>
		<h2>Top 10 Users <span class="glyphicon glyphicon-glass"></span></h2>
		<div class="center">
			<table style="width:100%">
			  <tr>
			    <th>Nombre</th>
			    <th>Puntaje</th> 
			    <th>Win Rate</th> 
			  </tr>
			  {{#ranking}}
				  <tr>
			    	<td><b>{{username}}</b></td>
			    	<td>{{c_questions}}</td>
			    	<td>{{win_rate}}%</td>
				  </tr>
			  {{/ranking}}
			</table>
		</div>
		<footer>Desarrollado por Melegatti Pablo, Somare Francico y Gonzalez Gabriel - UNRC 2017</footer>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>