<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel='stylesheet' href='/css/ranking.css'>
		<link rel='stylesheet' href='/css/w3.css'>
	</head>
	<body>
		<ul class="menu">
			<li><a href="/index">Inicio</a></li>
			<li><a href="/registrar">Registrarme</a></li>
			<li><a href="/login">Ingresar</a></li>
			<li><a href="/ranking">Ranking</a></li>
			<li><a href="/play">{{play}}</a></li>
			<li><a href="/administrate">{{admin}}</a></li>
			<li><a href="/logout">{{logout}}</a></li>
		</ul>
		<h2>Top 10 Users</h2>
		<div class="center">
			<table style="width:100%">
			  <tr>
			    <th>Nombre</th>
			    <th>Puntaje</th> 
			    <th>Win Rate</th> 
			  </tr>
			  {{#ranking}}
				  <tr>
			    	<td><b>{{username}}</b></td>
			    	<td>{{c_questions}}</td>
			    	<td>{{win_rate}}%</td>
				  </tr>
			  {{/ranking}}
			</table>
		</div>
	<footer>Desarrollado por Melegatti Pablo, Somare Francico y Gabriel Gonzalez - UNRC 2017</footer>
	</body>
</html>