<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel='stylesheet' href='/css/ranking.css'>
		<link rel='stylesheet' href='/css/w3.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<nav id="nav_bar" class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/index"><span class="glyphicon glyphicon-home"></span></a></li>
		      <li><a href="/ranking">Ranking</a></li>
		      <li><a href="/play">{{play}}</a></li>
					<li><a href="/administrate">{{admin}}</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/registrar"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-off"></span> {{logout}}</a></li>
		    </ul>
		  </div>
		</nav>
		<h2>Top 10 Users</h2>
		<div class="center">
			<table style="width:100%">
			  <tr>
			    <th>Nombre</th>
			    <th>Puntaje</th> 
			    <th>Win Rate</th> 
			  </tr>
			  {{#ranking}}
				  <tr>
			    	<td><b>{{username}}</b></td>
			    	<td>{{c_questions}}</td>
			    	<td>{{win_rate}}%</td>
				  </tr>
			  {{/ranking}}
			</table>
		</div>
	<footer>Desarrollado por Melegatti Pablo, Somare Francico y Gabriel Gonzalez - UNRC 2017</footer>
	</body>
</html>