<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel='stylesheet' href='/css/login.css'>
	</head>
	<body>
		<ul class="menu">
			<li><a href="/index">Inicio</a></li>
			<li><a href="/registrar">Registrarme</a></li>
			<li><a href="/login">Ingresar</a></li>
			</li>
		</ul>
		<p class="texto">Registro</p>
		<div class="Registro">
			<form method="post" action="/registering">
				<input type="text1" name="username" required placeholder="Nombre de usuario" autocomplete="off"> 
				<input type="text" name="email" id="email" required placeholder="Correo" autocomplete="off">
				<input type="password" name="password" id="password" required placeholder="Contraseña" autocomplete="off"> 
				<input type="submit" value="Registrar" title="Registra tu cuenta">
			</form>
		</div>
	</body>
</html>