<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel='stylesheet' href='/css/reg.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<nav id="nav_bar" class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/index"><span class="glyphicon glyphicon-home"></span></a></li>
		      <li><a href="/ranking">Ranking</a></li>
		      <li><a href="/play">{{play}}</a></li>
					<li><a href="/administrate">{{admin}}</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/registrar"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-off"></span> {{logout}}</a></li>
		    </ul>
		  </div>
		</nav>
		<p class="texto">Registro</p>
		<div class="Registro">
			<form method="post" action="/registering">
				<input type="register" name="username" required placeholder="Nombre de usuario" autocomplete="off"> 
				<input type="password" name="password" id="password" required placeholder="Contraseña" autocomplete="off">
				<input type="password" name="password2" id="password2" required placeholder="Repita la contraseña" autocomplete="off">
				<input type="text" name="email" id="email" required placeholder="Correo" autocomplete="off">
				<input type="submit" value="Registrar" title="Registra tu cuenta">
				<b><font color="red">{{error}}</font></b>
			</form>
		</div>
  <footer>Desarrollado por Melegatti Pablo, Somare Francico y Gonzalez Gabriel - UNRC 2017</footer>
	</body>
</html>