La primera pregunta es:  <b>{{desc}} </b> <br>
Opcion 1:  {{a1}}<br>
Opcion 2:  {{a2}}<br>
Opcion 3:  {{a3}}<br>
Opcion 4:  {{a4}}
<form action="/answer" method="post">                           
  <label for="answer">Numero de respuesta:</label>
  <input type="text" name="answer" />                                          
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>