* {
    box-sizing: border-box;
}

body {
  padding-bottom: 40px;
  background-color: #eee;
  height: 100%;
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5;
}

#nav_bar{
    border-radius:0px;
}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

button {
    float: right;
}

li {
    margin: 5px 0;
}

#chatControls {
    overflow: auto;
    margin: 0 0 5px 0
    max-width 80%;
}

#userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin-left: 250px;
    background: #f0f0f9;
    padding: 5px 10px;
    width: 150px;
    top: 11px;
}

#chat p {
    margin: 5px 0;
    font-weight: 300
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
    word-wrap: break-word;
}

#chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}

table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th{
    text-align: center;
    height: 400px;
}

.center{
    margin: auto;
    width: 36%;
    border: 3px solid #73AD21;
    padding: 10px;
    border-radius: 5px;
}

tr:nth-child(even) {
  background: #CEE3F6;
}
tr:nth-child(odd){
  background: #ffffff;
}

