@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

body {
    background-color: #FFFFFF;
    text-align: center;
}
.menu, .menu ul {
list-style: none;
padding: 0;
margin: 0;
}
.menu {
background: -moz-linear-gradient(#292929, #252525);
background: -ms-linear-gradient(#292929, #252525);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #252525));
background: -webkit-linear-gradient(#292929, #252525);
background: -o-linear-gradient(#292929, #252525);
height: 58px;
width: 100%;
margin-bottom: 20px;
}
.menu li {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525')";
background: linear-gradient(#292929, #252525);
min-width: 160px;
}
.menu > li {
padding: 0;
margin: 0;
display: block;
float: left;
position: relative;
}
.menu > li:first-child {
border-radius: 5px 0 0;
}
a:hover { 
	background: -moz-linear-gradient(#292929, #514D4D);
	background: -ms-linear-gradient(#292929, #514D4D);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #514D4D));
	background: -webkit-linear-gradient(#292929, #514D4D);
	background: -o-linear-gradient(#292929, #514D4D);
}
.menu a {
border-left: 3px solid rgba(0, 0, 0, 0);
color: #808080;
display: block;
font-family: 'Lucida Console';
font-size: 18px;
line-height: 58px;
padding: 0 25px;
text-decoration: none;
text-transform: uppercase;
}
.texto {
  color: #2c90c6; 
  font-size: 40px; 
  margin: 2% auto;
  text-align: left;
  font-family: 'Titan One';   
  text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
  padding-top: 0px;
}
.menu ->li:userlog{
  float: right;
  position:absolute;
}
p:hover {
  text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}
.pregunta{
  text-align: center;
  float:left;
  width:100%;
  height: 50px;
  position: center;
  margin-bottom: 20px;
  
}
.pregunta > li {
  padding-top: 10px;
  border: 1px solid #088A29;
  padding: 2px;
  height:50px;
  width:500px;
  margin: 1px auto;
  display: block;
  position: relative;
  background-color: #2E9AFE;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
}
.respuesta{
  float:left;
  text-align: center;
  width:100%;
  height: 240px;
  position: center;
  
}
.respuesta > li {
  border: 1px solid #000;
  padding: 2px;
  padding-top: 10px;
  height:30px;
  width:500px;
  margin: 1px auto;
  display: block;
  position: relative;
  background-color: #BDBDBD;
  border-radius: 5px 5px 5px 5px;
}
.fom{
  position:absolute;
}
footer { 
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}