body {
    background-color: #eee;
    text-align: center;
}
#nav_bar{
  border-radius:0px;
}
.texto {
  color: #2c90c6; 
  font-size: 40px; 
  margin: 2% auto;
  text-align: left;
  font-family: 'Titan One';   
  text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
  padding-top: 0px;
}
.menu ->li:userlog{
  float: right;
  position:absolute;
}
p:hover {
  text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}
.pregunta{
  text-align: center;
  float:left;
  width:100%;
  position: center;
  margin-bottom: 20px;
  font-size: 20px;
  
}
.pregunta > li {
  padding-top: 10px;
  border: 1px solid #000;
  padding: 5px;
  height:150px;
  width:500px;
  margin: 1px auto;
  display: block;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  color: #000;
}
.respuesta{
  float:left;
  text-align: center;
  width:100%;
  height: 320px;
  position: center;
  
}
button[type=submit] {
  border: 1px solid #000;
  padding: 2px;
  padding-top: 5px;
  height:30px;
  width:500px;
  margin: 1px auto;
  display: block;
  position: relative;
  color:#fff;
  background: -moz-linear-gradient(#2c70c6, #2c90c6);
  background: -ms-linear-gradient(#2c70c6, #2c90c6);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c70c6), color-stop(100%, #2c90c6));
  background: -webkit-linear-gradient(#2c70c6, #2c90c6);
  background: -o-linear-gradient(#2c70c6, #2c90c6);
  border-radius: 1px;
}
.juego{
  float:left;
  text-align: center;
  width:100%;
  height: 15px;
  position: center;
  margin-bottom: 10px;
  
}
.juego > li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.fom{
  position:absolute;
}
table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th{
    text-align: center;
}

td{
  text-align: center;
  padding-left: 5px;
}
.center{
    margin: auto;
    width: 36%;
    padding: 50px;
    margin-bottom: 20px;
}

tr:nth-child(even) {
  background: #CEE3F6;
}
tr:nth-child(odd){
  background: #ffffff;
}
footer { 
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}