<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<html>
	<head>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
		<title> Bienvenido a Preguntado$ </title>
		<link rel='stylesheet' href='/css/reg.css'>
		<link rel='stylesheet' href='/css/account.css'>
		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<nav id="nav_bar" class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/index"><span class="glyphicon glyphicon-home"></span></a></li>
		      <li><a href="/ranking">Ranking</a></li>
		      {{{play}}}
					{{{admin}}}
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/registrar"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      {{{logout}}}
		    </ul>
		  </div>
		</nav>
		<p class="texto">Generar Categoria</p>
		<div class="Registro">
			<form method="post" action="/registering">
				<input type="cat" name="cat" required placeholder="Escriba la pregunta" autocomplete="off">
				<input type="submit" value="Agregar" title="Registra tu cuenta">
			</form>
		</div>
		{{{error}}}
  <footer>Desarrollado por Melegatti Pablo, Somare Francico y Gonzalez Gabriel - UNRC 2017</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>